body{
	text-align: center;
	overflow: visible;
	margin: 0;
	background-color: rgb(0, 19, 22);
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(199, 199, 199);
}

.topnav {
  overflow: hidden;
  background: transparent;
  padding-bottom: 5px;
}

.topnav a {
  float: center;
  display: block;
  text-align: center;
  padding: 15px;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  font-size: 4vw;
  background: transparent;
  text-shadow: white 1px 0px 0px;
  margin-top: 3vw;
}

.helpImage{
	float: center;
	margin-right: 51.5vw;
	margin-top: 11vw;
	width: 3vw;
	background: none;
}

.settingsImage{
	float: right;
	width: 3vw;
	background: none;
	margin-top: 11vw;
	margin-right: 36.5vw;
}

.helpButton{
	background: none;
	padding: 3vw;
	border: none;
	position: absolute;
	top: 1.3%;
	right: 1.3%;
	outline: none;
	cursor: pointer;
}

.firstDiv, .secondDiv{
	margin-top: 7vw;
	width: 30vw;
	height: 20vw;
	border: 0px solid white;
	border-radius: 25px;
	background-color: #101720;
	box-shadow: 0px 0px 10px white;
	padding-bottom: 2vw;
}

.firstDiv{
	position: absolute;
	top: 16vw;
	left: 15vw;
}

.secondDiv{
	position: absolute;
	top: 16vw;
	right: 15vw;
}


.text{
	margin-top: -1vh;
	font-family: "arial";
	font-size: 2vw;
}

.input{
	background-color: #D6DBDF;
	border-radius: 5px;
	text-align: center;
	outline: none;
	width: 8vw;
	height: 4vw;
	font-weight: bold;
	font-size: 2vw;
	margin-top: 1vw;
	padding-left: 2vw;
}

.googlePlay{
	width: 15vw;
	position: absolute;
	top: 1vw;
	left: 1vw;
}

.button{
	background-color: #72a7cf;
	border-radius:5px;
	outline: none;
	width: 6vw;
	height: 4vw;
	color: black;
	font-size: 2vw;
	cursor: pointer;
}

#calcButton2{
	margin-left: 1vw;
	cursor: pointer;
}

.solution{
	color: rgb(199, 199, 199);
	font-family: "arial";
	font-size: 2vw;
}

@media screen and (max-width: 1000px){
	.firstDiv, .secondDiv{
		margin-top: 12vw;
	}
	.helpImage, .settingsImage{
		margin-top: 13vw;
		width: 3.8vw;
	}
}

@media screen and (max-width: 800px){
	.firstDiv{
		margin-top: 10vw;
		margin-left: 15vw;
		width: 40vw;
		height: 24vw;
	}
	.secondDiv{
		top: 46vw;
		left: 30vw;
		width: 40vw;
		height: 24vw;
	}
	.text{
		font-size: 3vw;
	}
	#input1, #input2{
		font-size: 3vw;
		width: 8vw;
	}
	#solution1, #solution2{
		font-size: 2.5vw;
	}
	.googlePlay{
		width: 20vw;
	}
}

@media screen and (max-width: 740px){
	.firstDiv{
		margin-top: 11vw;
		margin-left: 15vw;
	}
	.secondDiv{
		top: 48vw;
		left: 30vw;
	}
}

@media screen and (max-width: 700px){
	.firstDiv{
		margin-top: 13vw;
		margin-left: 15vw;
	}
	.secondDiv{
		top: 52vw;
		left: 30vw;
	}
}

@media screen and (max-width: 670px){
	.firstDiv{
		margin-top: 12vw;
		margin-left: 15vw;
	}
	.secondDiv{
		top: 51vw;
		left: 30vw;
	}
}

@media screen and (max-width: 640px){
	.firstDiv{
		margin-top: 14vw;
		margin-left: 15vw;
		width: 40vw;
		height: 30vw;
	}
	.secondDiv{
		top: 57vw;
		left: 30vw;
		width: 40vw;
		height: 30vw;
	}
	.text{
		font-size: 3.5vw;
	}
	#input1, #input2{
		font-size: 3vw;
		width: 10vw;
	}
	#solution1, #solution2{
		font-size: 3vw;
	}
}

@media screen and (max-width: 600px){
	.topnav a{
		font-size: 5.5vw;
	}
	.settingsImage, .helpImage{
		margin-top: 16vw;
		width: 5vw;
	}
	.firstDiv{
		margin-top: 14vw;
		margin-left: 10vw;
		width: 50vw;
		height: 35vw;
	}
	.secondDiv{
		top: 64vw;
		left: 25vw;
		width: 50vw;
		height: 35vw;
	}
	.text{
		font-size: 4.5vw;
	}
	#input1, #input2{
		font-size: 4vw;
		width: 12vw;
	}
	#solution1, #solution2{
		font-size: 3.5vw;
	}
	#calcButton, #calcButton2{
		width: 8vw;
		height: 5vw;
		font-size: 3vw;
	}
}	

@media screen and (max-width: 550px){
	.topnav a{
		font-size: 5.5vw;
	}
	.settingsImage, .helpImage{
		margin-top: 16vw;
		width: 5vw;
	}
	#calcButton, #calcButton2{
		width: 8vw;
		height: 5vw;
		font-size: 3vw;
	}
	.firstDiv{
		margin-top: 17vw;
		margin-left: 10vw;
	}
	.secondDiv{
		top: 68vw;
		left: 25vw;
	}
	.topnav a{
		font-size: 5vw;
	}
	.googlePlay{
		width: 22vw;
	}
}


@media screen and (max-width: 495px){
	.topnav a{
		font-size: 6vw;
	}
	.settingsImage, .helpImage{
		margin-top: 18vw;
		width: 6vw;
	}
	.firstDiv{
		margin-top: 23vw;
		margin-left: 6vw;
		width: 55vw;
		height: 38vw;
	}
	.secondDiv{
		top: 78vw;
		left: 21vw;
		width: 55vw;
		height: 38vw
	}
	#solution1, #solution2{
		font-size: 3.9vw;
	}
	#calcButton, #calcButton2{
		width: 11vw;
		height: 6vw;
		font-size: 3.5vw;
	}
	.text{
		font-size: 5.4vw;
	}
}

@media screen and (max-width: 450px){
	.topnav a{
		font-size: 6.5vw;
	}
	.settingsImage, .helpImage{
		margin-top: 19.5vw;
		width: 6.5vw;
	}
	.firstDiv{
		margin-top: 26vw;
		margin-left: 3.5vw;
	}
	.secondDiv{
		top: 91vw;
		left: 18.5vw;
		width: 60vw;
	}
	.firstDiv, .secondDiv{
		width: 62.5vw;
		height: 45vw;
	}
	.text{
		font-size: 6vw;
	}
	#solution1, #solution2{
		font-size: 4.5vw;
	}
	#input1, #input2{
		width: 12vw;
		height: 5vw;
	}
	#calcButton, #calcButton2{
		width: 12vw;
		height: 6vw;
	}
	.googlePlay{
		width: 20vw;
	}
}

@media screen and (max-width: 400px){
	.topnav a{
		font-size: 7vw;
	}
	.settingsImage, .helpImage{
		margin-top: 22vw;
		width: 7vw;
	}
	.firstDiv{
		margin-top: 30vw;
		margin-left: 2vw;
		width: 65vw;
		height: 50vw;
	}
	.secondDiv{
		top: 100vw;
		left: 17vw;
		width: 65vw;
		height: 50vw;
	}
	.text{
		font-size: 6.9vw;
	}
	#input1, #input2{
		font-size: 4.5vw;
		width: 13vw;
	}
	#calcButton, #calcButton2{
		width: 12.5vw;
		height: 7vw;
		font-size: 4vw;
	}
	#solution1, #solution2{
		font-size: 5vw;
	}
}	

@media screen and (max-width: 375px){
	.firstDiv{
		margin-top: 33vw;
	}
	.secondDiv{
		top: 107vw;
	}
}

@media screen and (max-width: 335px){
	.firstDiv{
		margin-top: 37vw;
		margin-left: 2vw;
	}
	.secondDiv{
		top: 110vw;
		left: 17vw;
	}
}

@media screen and (max-width: 310px){
	.firstDiv{
		margin-top: 40vw;
	}
	.secondDiv{
		top: 120vw;
	}
	.text{
		font-size: 6vw;
	}
}